<!DOCTYPE html>>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    </head>
    <body>
        <h1>
            Welcome to ITD, <%= @user.name%>
        </h1>
        <p>
            You have successfully recived the email
        </p>
    </body>
</html>