<div class="snap-x snap-mandatory  pb-10">
    <div class="grid grid-rows-2 grid-cols-7 min-w-screen bg-blue-100 snap-always">
    <div class="col-span-5 w-full">
        <%= image_tag("marketing/valve-2.jpg", class:"h-[600px] w-full object-cover border-y-4 border-l-4 border-slate-100 ")%>

        <h1 class="titleAnimate absolute top-[200px] left-[20px] font-extrabold text-7xl">
            Bienvenido a <span class="text-blue-500 bg-slate-100 p-3 rounded-lg">Delta.</span>
        </h1>

        <%= link_to "Visita nuestro catálogo", store_index_path ,class:"absolute top-[300px] p-5 font-semibold bg-blue-100 ml-[32px]  min-w-[100px] 
        rounded-xl hover:bg-slate-900 hover:text-slate-50 transition-all duration-300"%> 
    </div>
    <div class="col-span-2 w-full">
    <%= image_tag("marketing/valve-1.jpg", class:"h-[600px] bg-green-500 border-4 border-slate-100 w-full object-cover")%>
    </div>
    <div class="w-full col-span-7">
        <%= image_tag("marketing/valve-3.jpg", class:"h-[600px] w-full bg-green-500 border-4 border-t-0 border-slate-100 col-span-7 object-cover")%>

    </div>

    </div>
    <div class="p-10 snap-always">
        <h1 class="font-bold ml-2 text-7xl lg:text-left text-center">
            ¿Qué es ITD?
        </h1>
        <h2 class="flex justify-center my-8 w-[900px] bg-slate-200 bg-opacity-90
            rounded-lg text-left p-3 font-medium text-blue-500 text-2xl">
            En ITD, S.L., estamos especializados en la 
            fabricación y suministro de válvulas
             para la automatización y conducción de todo tipo fluidos.
            Disponemos de departamentos de ingeniería y oficina técnica.
    
        </h2>
        <h1 class="font-bold ml-2 text-7xl lg:text-left text-center">
            ¿Qué servicio puede esperar con ITD?
        </h1>
        <div class="flex flex-col lg:flex-row">
            <ul class= "flex-grow grid grid-cols-3 list-blue-500 text-blue-500 mark-blue-500 ml-5 text-xl mt-10 flex flex-col gap-5">
                <li class="min-h-[100px] bg-blue-500 text-slate-100 p-5 rounded-lg ">
                    <span class="font-bold">
                        Departamento de Ingeniería,
                    </span>
                    para darle la mejor solución para cada proyecto concreto.
                </li>
                <li class="bg-blue-500 text-slate-100 p-5 rounded-lg col-span-2">
                    <span class="font-bold">
                        Oficina Técnica,
                    </span>
                    donde diseñamos válvulas y electroválvulas para todo tipo de aplicaciones o de acuerdo con los requerimientos de nuestros clientes.
                </li>
                <li class="min-h-[100px] bg-blue-500 text-slate-100 p-5 rounded-lg col-span-2 row-span-2">
                    <span class="font-bold">
                        Personal cualificado,
                    </span>
                    para apoyarle técnicamente en sus proyectos y determinar la válvula o componente más apropiado para cada aplicación concreta.
                </li>

                <li class="min-h-[100px] bg-blue-500 text-slate-100 p-5 rounded-lg row-span-2">
                    <span class="font-bold">
                        Control de calidad,
                    </span>
                    <span >
                        donde se verifican al 100% todas nuestras válvulas. Se realizan pruebas bajo presión, estanqueidad, ensayos eléctricos…
                    </span>
                </li>
                <li class="min-h-[100px] bg-blue-500 text-slate-100 p-5 rounded-lg col-span-3">
                    <span class="font-bold">
                        Experiencia,
                    </span>
                    <span class="text">
                        lo que garantiza el producto idóneo para cada aplicación concreta.
                    </span>
                </li>

            </ul>
            <div  class="text-black m-5 mt-10 text-2xl lg:text-right text-center">
                <p>
                    El apoyo técnico ofrecido por ITD, S.L. unido a la alta calidad del producto, siempre han sido nuestros puntos fuertes ya que nuestros clientes saben que cuentan con una solución fiable y segura para el buen y continuado funcionamiento de los equipos.
                </p>
                <p class="mt-5">
                    Le proponemos conocer nuestras ventajas y descubrir más sobre nuestros productos reconocidos por nivel calidad. Garantizamos no sólo una producción de primer nivel, sino también el suministro ágil y seguro de nuestros productos.
                </p>
            </div>
        </div>
    </div>
</div>
