<div class="h-screen text-lg m-5">
    <h1 class="font-extrabold text-5xl">
        Aviso Legal
    </h1>
    <div class="flex flex-col space-y-5 mt-10">
        <p>
            En cumplimiento del artículo 10 de la Ley 34/2002, del 11 de julio, de servicios de la Sociedad de la 
            Información y Comercio Electrónico (LSSICE) se exponen a continuación los datos identificativos de la empresa.
        </p>
        <div class="flex flex-col space-y-2">
            <p class="font-bold">
                I. T. DELTA, S.L.
            </p>
            <p>
                <b>
                    Correo electrónico:
                </b>
                info@industrialdelta.com

            </p>
            <p>
                <b>
                    Teléfono:
                </b>
                +34 843 980 901

            </p>
            <p>
                <b>
                    Fax:   
                </b>
                +34 943 049 024
            </p>

        </div>
        <p>
            Este sitio web ha sido creado por la empresa I. T. DELTA, S.L. con carácter informativo y para uso personal de los usuarios.A través de este Aviso legal, se pretende regular el acceso y uso de este sitio web, así como la relación entre el sitio web y sus usuarios. Accediendo a este sitio web se aceptan los siguientes términos y condiciones: El acceso a este sitio web es responsabilidad exclusiva de los usuarios.
        </p>
        <p>
            El simple acceso a este sitio web no supone entablar ningún tipo de relación comercial entre I.T. DELTA, S.L. y el usuario.
        </p>

        <p>
            El acceso y la navegación en este sitio web supone aceptar y conocer las advertencias legales, 
            condiciones y términos de uso contenidas en ella.
        </p>
        <p>
            El titular del sitio web puede ofrecer servicios o productos que podrán encontrarse sometidos a unas 
            condiciones particulares propias que, según los casos, sustituyan, completen y/o modifiquen 
            las presentes condiciones, y sobre las cuales se informará al usuario en cada caso concreto.
        </p>
    </div>
</div>
