<div class="p-5 m-5  min-h-screen flex flex-col gap-5">
    <h1 class="text-5xl font-bold mb-5">
        Válvulas neumáticas
    </h1>
    <div class="bg-slate-100 shadow-xl w-[100%] h-[500px] rounded-xl flex">
        <%= image_tag("valves/electrovalvulas/ferti-irrigacion/222C-3.jpg", class:"w-[500px] h-[500px] rounded-l-xl object-cover")%>
        <div class="m-5">
            <h1 class="font-bold text-5xl">
                Válvulas con actuador Neumático 2 Vías - NC y NA
            </h1>

            <ul class="list-disc ml-8 mt-5">
                <li>
                    <b>
                        Electroválvulas en acero inoxidable AISI 316
                    </b>
                </li>
                <li>
                    <b>
                        Función:
                    </b>
                      NC
                </li>
                <li>
                    <b>
                        Roscas:
                    </b>
                      1/4" - 3/8" - 1/2"
                </li>

            </ul>


        </div>
    </div>

</div>