<div class="p-5 m-5  min-h-screen flex flex-col gap-5">
    <h1 class="text-5xl font-bold mb-5">
        Electroválvulas 3 Vías
    </h1>
    <div class="bg-slate-100 shadow-xl w-[100%] h-[500px] rounded-xl flex">
        <%= image_tag("valves/electrovalvulas/3-vias/013C.jpg", class:"w-[550px] h-[500px] rounded-l-xl object-cover")%>
        <div class="m-5">
            <h1 class="font-bold text-4xl">
                Electroválvulas Mando Directo
            </h1>

            <ul class="list-disc ml-8 mt-5">
                <li>
                    <b>
                        Tipo: 
                    </b>
                    NC (Normalmente Cerrada) o NA (Normalmente Abierta)
                </li>
                <li>
                    <b>
                        Tamaños de Rosca: 
                    </b>
                     1/8" - 1/4"

                </li>
                <li>
                    <b>
                        Tamaños de Rosca: 
                    </b>
                    3/8" - 1/2" - 3/4" - 1" - 1¼" - 1½" - 2"             
                </li>
                <li>
                    <b>
                        Tipos de Rosca:
                    </b>
                      G - BSP - NPT
                </li>
                <li>
                    <b>
                        Cuerpo:
                    </b>
                    Latón
                </li>

                <li>
                    <b>
                        Juntas:
                    </b>
                 NBR
                </li>
                
                <li>
                    <b>
                        Piezas Internas: 
                    </b>
                    Acero Inoxidable
                </li>
            </ul>   
            <div class="flex justify-end min-w-[100%] items-end h-[175px]">
                <button class=" bg-blue-500 text-neutral-50 rounded-lg p-3 font-bold ">
                    <%= link_to "Download PDF file", "/PDF_files/electrovalvulas/tres-vias/3-vias-1.pdf",target: "_blank" %>
                </button>
            </div>
        </div>
    </div>
    <div class="bg-slate-100 shadow-xl w-full h-[500px] rounded-xl flex">
        <%= image_tag("valves/electrovalvulas/3-vias/223C-3.jpg", class:"w-[550px]  h-[500px] rounded-l-xl object-cover")%>
        <div class="m-5">
            <h1 class="font-bold text-4xl">
                Electroválvulas Mando Directo
            </h1>

            <ul class="list-disc ml-8 mt-5">
                <li>
                    <b>
                        2 Vías
                    </b>
                </li>
                <li>
                    <b>
                        Tipo: 
                    </b>
                    NC (Normalmente Cerrada) o NA (Normalmente Abierta)
                </li>
                <li>
                    <b>
                        Tamaños de Rosca: 
                    </b>
                    3/8" - 1/2" - 3/4" - 1" - 1¼" - 1½" - 2"                
                </li>
                <li>
                    <b>
                        Tipos de Rosca:
                    </b>
                     G - BSP - NPT                
                </li>
                <li>
                    <b>
                        Juntas: 
                    </b>
                    NBR (Opcional o FKM)
                </li>
                <li>
                    <b>
                        Cuerpo / Tapa:
                    </b>
                    Latón                
                </li>

                <li>
                    <b>
                        Piezas Internas:
                    </b>
                    Acero Inoxidable
                </li>

            </ul>

            <div class="flex justify-end w-full items-end h-[200px]">
                <button class=" bg-blue-500 text-neutral-50 rounded-lg p-3 font-bold ">
                    <%= link_to "Download PDF file", "/PDF_files/electrovalvulas/tres-vias/3-vias-2.pdf",target: "_blank" %>
                </button>
            </div>
        </div>
    </div>

   
</div>