<div class="p-5 m-5  min-h-screen flex flex-col gap-5">
    <div class="bg-slate-100 shadow-lg w-[100%] h-[500px] rounded-xl flex flex-col">
        <%= image_tag("valves/membrana/val.png", class:"w-full h-[350px] rounded-t-xl object-cover")%>
        <div class="m-5">
            <h1 class="font-bold text-5xl text-center mt-5">
                Válvulasde membrana
            </h1>


        </div>
    </div>
</div>  