<div class="p-5 m-5  min-h-screen flex flex-col gap-5">
    <h1 class="text-5xl font-bold mb-5">
        Válvulas neumáticas
    </h1>
    <div class="bg-slate-100 shadow-xl w-[100%] h-[500px] rounded-xl flex">
        <%= image_tag("valves/neumaticas/neu.jpg", class:"w-[500px] h-[500px] rounded-l-xl object-cover")%>
        <div class="m-5">
            <h1 class="font-bold text-5xl">
                Válvulas con actuador Neumático 2 Vías - NC y NA
            </h1>

            <ul class="list-disc ml-8 mt-5">
                <li>
                    <b>
                        Tipo: 
                    </b>
                    NC (Normalmente Cerrada) o NA (Normalmente Abierta)
                </li>
                <li>
                    <b>
                        Tamaños de Rosca:
                    </b>
                     1/2" - 3/4" - 1" - 1¼" - 1½" - 2"
                </li>
                <li>
                    <b>
                        Tipos de Rosca:
                    </b>
                     G - BSP
                </li>
                <li>
                    <b>
                        Cuerpo:
                    </b>
                     Latón rojo (Acero inoxidable opcional)
                </li>
                <li>
                    <b>
                        Juntas:
                    </b>
                     PTFE (Opcional NBR)
                </li>
            </ul>
                <div class="flex justify-end w-full items-end h-[200px]">
                    <button class=" bg-blue-500 text-neutral-50 rounded-lg p-3 font-bold ">
                        <%= link_to "Download PDF file", "/PDF_files/neumaticas/neu.pdf",target: "_blank" %>
                    </button>
                </div>

        </div>
    </div>

</div>