<div class="p-2 bg-blue-200 text-blue-500 z-50 font-semibold fixed bottom-0 w-screen h-[40px] text-center">
    Para comprar los productos puede contactarnos por email, 
    <span class="font-bold">
        delta@industrialdelta.com
    </span>
</div>