<div class="bg-slate-900 text-white p-5 flex flex-col min-w-screen relative ">
    <%= link_to "Inicio", root_path, class:"hover:underline decoration-1"%>
    <%= link_to "Tienda", store_index_path  , class:"hover:underline decoration-1"%>
    <%= link_to "Aviso legal", landing_policy_path, class:"hover:underline decoration-1"%>
</div>